*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    border: 2px solid #499896;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.contenedor2 {
    border: 2px solid #197649;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    margin-top: 100px;
    gap: 10px;
    
}



.item {
    border: 2px solid #499896;
    border-radius: 5px;
}