*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    display: grid;
    grid-template-columns: minmax(60px, 300px) 200px minmax(60px, 250px);
    grid-template-rows: repeat(3, auto);
    gap: 10px;

}



.item {
    background-color: #1B4965;
    border-radius: 5px;
}